@charset "UTF-8";

@font-face {
    font-family: font-title;
    src: url("Fontes/Quella.otf");
}

@font-face {
    font-family: fonteparag;
    src: url(Fontes/Cheesecake.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-size: 1em;
}

body{
    
}

main{
    background-color: aliceblue;
}

header#cabecalho{
    display: block;
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    height: 20vw;
    
}

header#cabecalho > div#conteudo > h1{
    font-family: font-title, cursive;
    margin-top: 1.15em;
    font-size: 6vw;

}

header#cabecalho > div#conteudo > p{
    font-size: 1.7vw;
}

header#cabecalho > div#conteudo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p{
    font-family: fonteparag;
    font-size: 5vw;
    margin-left: 1.3em;
    margin-bottom: 3.5em;
    line-height: 1.8em;
}

.sombra{
    background-color: rgba(0, 0, 0, 0.479);
    color: aliceblue;
    width: 48vw;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 10px;
    line-height: 1.6em; 
}
div#div2{
    background-image: url(imagens/flor.jpg);
    background-position: right center;
    height: 85vw;
    background-size: cover;
    position: relative;
}

div#div5{
    background-image: url(imagens/livro.jpg);
    background-position: right center;
    height: 85vw;
    background-size: cover;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    font-weight: normal;
}

a:hover{
    font-weight: bolder;
    transition: 0.6s;
    font-size: 17pt;
}













footer > p{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 3vw;
}