@charset "utf-8";

@media screen and (min-width: 480px) {

    menu#itens{
        display: block;
        padding: 5px;
    }

    div#burguer{
        display: none;
    }

    menu > ul > li{
        display: inline-block;
    }
    
}